#logoBar {
    background-color: blue;
    text-align: center;
    color: white;
    height: 40px;
    line-height: 40px;
    margin-top: none;
    padding-top: none;
    font-size: 25px;
}

#logoutButton {
    float: right;
    margin: 5px 5px 5px 5px;
    height: 32px;
}
