<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Medicus</span>
    <span class="example-spacer"></span>
    <img class="nav-img" src="assets/arrow.png" alt="img">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="logout()">
      <mat-icon>account_circle</mat-icon>
    </button>
    <div class="description-user">
        <h6>{{user}}</h6>
        <p>{{role}}</p>
    </div>
  </mat-toolbar>