<div class="container col-md-12">
    <table mat-table [dataSource]="bandsTableDataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> id </th>
            <td mat-cell *matCellDef="let band"> <span> {{band.id}} </span> </td>
          </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> nombre </th>
            <td mat-cell *matCellDef="let band"> <span> {{band.name}} </span> </td>
        </ng-container>

        <ng-container matColumnDef="leaderName">
            <th mat-header-cell *matHeaderCellDef> nombre lider </th>
            <td mat-cell *matCellDef="let band"> <span *ngIf="band.leader"> {{band.leader.name}} </span> </td>
        </ng-container>

        <ng-container matColumnDef="leaderNickname">
            <th mat-header-cell *matHeaderCellDef> apodo lider </th>
            <td mat-cell *matCellDef="let band"> <span *ngIf="band.leader"> {{band.leader.nickname}} </span> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="bandsTableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: bandsTableColumns;"></tr>
    </table>
</div>