table { 
    border-collapse: collapse;
    display: inline-table;
    width: 100%;
}

table td, table th {
    padding: 3px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

table th {
    background-color: #3B51B5;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }

    .mat-paginator-container::ng-deep {
        margin-top: 20px;
    }

}
    