/* You can add global styles to this file, and also import other style files */
@import "~angular-notifier/styles.css";

.space-at-bottom        { margin:25px; width:100%; }
.base-margin            { margin:30px 40px 40px; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-select-value-text { font-weight:200; }
